<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{emails/base :: layout(~{::content}, 'Action required')}">
<body>
    <th:block th:fragment="content">
        <p>Hello <span th:text="${firstName ?: 'Member'}">Member</span>,</p>
        
        <p>You have requested to reset your EcclesiaFlow password.</p>
        
        <p>To reset your password, click the button below:</p>
        
        <div style="text-align: center;">
            <a th:href="${resetLink ?: '#'}" class="btn btn-primary">
                Reset My Password
            </a>
        </div>
        
        <div class="warning-box">
            <p><strong>Important</strong></p>
            <p>This link is valid for <strong>15 minutes</strong>. If you did not request this reset, please ignore this email and your password will remain unchanged.</p>
        </div>
        
        <p class="greeting">Best regards,<br>
        The EcclesiaFlow Team</p>
    </th:block>
</body>
</html>
