<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{emails/base :: layout(~{::content}, 'Security notification')}">
<body>
    <th:block th:fragment="content">
        <p>Hello,</p>
        
        <div class="success-box">
            <p><strong>Your EcclesiaFlow password has been changed successfully.</strong></p>
        </div>
        
        <p>This change was made on <strong th:text="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm')}">2025-01-13 16:30</strong>.</p>
        
        <div class="warning-box">
            <p><strong>Didn't make this change?</strong></p>
            <p>If you did not make this change, your account may be compromised. Please immediately:</p>
            <ul>
                <li>Contact our support at <a href="mailto:support@ecclesiaflow.com">support@ecclesiaflow.com</a></li>
                <li>Reset your password</li>
            </ul>
        </div>
        
        <p>For your security, we recommend:</p>
        <ul>
            <li>Use a unique and complex password</li>
            <li>Never share your password</li>
            <li>Enable two-factor authentication if available</li>
        </ul>
        
        <p class="greeting">Best regards,<br>
        The EcclesiaFlow Team</p>
    </th:block>
</body>
</html>
